@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <img  src="~/lib/Images/funny-cat-pics-and-memes-9-64a8043598c98__700.jpg" alt="Italian Trulli" />
</div>
