@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">NubCat Repo</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <img src="~/lib/Images/nub-nub-cat (1).gif" alt="Italian Trulli" />
    <img src="~/lib/Images/nub-nub-cat.gif" alt="Italian Trulli" />
    <img src="~/lib/Images/sillynubcat-nubcat.gif" alt="Italian Trulli" />
    <img src="~/lib/Images/nubcat-iwanttocatyou.gif" alt="Italian Trulli" />
</div>
